body {
    font-family: Arial;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: lightcoral;
    padding: 30px;
    width: 300px;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.highlight {
    border: 2px solid greenyellow;
}
